<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
                <li class="item">
                    <a class="link" href="{{ site.url }}/about">About</a>
                </li>
        <li class= "item">
            <a class ="link" href="{{ site.url }}/writing">Writing</a>
            
        <li class= "item"> 
            <a class="link" href="{{ site.url }}/speaking">Speaking</a>

        {% if site.resume == true %}
            <li class="item">
                <a class="link" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">CV</a>
            </li>
                <li class="item">
                    <a class="link" href="{{ site.url }}/blog">Blog</a>
                </li>
    </ul>
    
</nav>
